.mini-underscore {
    background-color: #81E979;
    display: inline-block;
    width: 12px;
    height: 6px;
}

.nav-title {
    margin-right: 15px;
    font-size: 25px;
    font-weight: 100;
}

.nav-options a {
    font-size: 18px;
    cursor: pointer;
}

.lane-name {
    text-align: center;
    font-size: 25px;
}

.card-view {
    width: 250px;
    border: 3px solid #81E979;
    padding: 3px;
    height: 70vh;
}

.card {
    border: 3px solid #81E979;
    padding: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.card p {
    margin: 0;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.add-card {
    margin: 12% auto;
    width: 35%;
    border: 3px solid #81E979;
    background-color: black;
    padding-bottom: 5px;
}

.add-card > p {
    font-size: 22px;
}

.add-card p {
    margin: 5px;
}

.add-card input {
    margin: 5px 5px 0px 5px;
}

.add-card textarea {
    margin: 5px;
    height: 150px;
    resize: vertical;
    max-height: 250px;
}

.add-card button {
    margin: 5px 5px 0px 5px;
}
