<div fxLayout="row" fxLayoutAlign="space-around center">
    <app-title></app-title>
    <div fxFlex="50" fxLayoutAlign="center">
        <p class="nav-title">PROJECT -</p>
        <div class="nav-options" fxLayout="row" fxFlex="70" fxLayoutAlign="space-between center">
            <a>game engine</a>
            <a>presentation todo's<div class="mini-underscore"></div></a>
            <a>app new ui</a>
        </div>
    </div>

    <div fxFlex="20">
        <button (click)="logout()">logout</button>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div *ngFor="let l of lanes">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p fxFlex="60" fxFlexOffset="15" class="lane-name">{{l.title}}</p>
            <button fxAlign="end" (click)="openAddCardModal(l.id)">add</button>            
            <div class="modal" *ngIf="l.id == add_to_lane">
                <div class="add-card">
                    <p>ADDING TO {{l.title}}</p>
                    <form [formGroup]="formAddCard" fxLayout="column">
                        <p *ngIf="addCardtitle.touched && addCardtitle.errors?.required">Informe o  título</p>
                        <p *ngIf="addCardtitle.touched && addCardtitle.errors?.maxlength">Título muito grande, limite: 50 caracteres</p>
                        <p *ngIf="addCardDescription.touched && addCardDescription.errors?.required">Informe a descrição</p>
                        <input formControlName="title" placeholder="title"/>
                        <textarea formControlName="description" placeholder="description"></textarea>
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <button [disabled]="formAddCard.invalid" (click)="createCard()">OK</button>
                            <button (click)="closeAddCardModal()">CANCEL</button>            
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal" *ngIf="edit_card">
                <div class="add-card">
                    <p>EDDITING CARD</p>
                    <form [formGroup]="formEditCard" fxLayout="column">
                        <p *ngIf="addCardtitle.touched && addCardtitle.errors?.required">Informe o  título</p>
                        <p *ngIf="addCardtitle.touched && addCardtitle.errors?.maxlength">Título muito grande, limite: 50 caracteres</p>
                        <p *ngIf="addCardDescription.touched && addCardDescription.errors?.required">Informe a descrição</p>
                        <input formControlName="title" placeholder="title"/>
                        <textarea formControlName="description" placeholder="description"></textarea>
                        <button (click)="closeEditModal()" disabled>DELETE CARD (ADMIN ONLY)</button>
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <button [disabled]="formEditCard.invalid" (click)="updateCard()">UPDATE</button>
                            <button (click)="closeEditModal()">CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="{{'lane-' + l.id}}" (dragover)="allowDrop($event)" class="card-view" (drop)="drop($event)">
            <div *ngFor="let c of cards">
                <div id="{{'card-' + c.id}}" class="card" *ngIf="l.id == c.listId" draggable="true" (dragstart)="drag($event)" (click)="openEditCardModal(c.id)">
                    <p>{{c.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
