app-title {
    margin: 10px 0 10px 25px;
}

.options {
    margin-left: 30px;
}

.login {
    height: 80vh;
}

.login form {
    height: 100%;
}

.login > form > input {
    margin-bottom: 15px;
    text-align: center;
    width: 50vw;
}

.login form a {
    color: #81E979;
    font-size: 22px;
    text-decoration: none;
}

button {
    font-size: 22px;
    margin: 0 15px;
}
