<div class="login" align="center" fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="formLogin" fxLayout="column" fxLayoutAlign="center center">
        <app-title></app-title>
        <input
            placeholder="login"
            formControlName="username"
        />
        <input
            placeholder="password"
            type="password"
            formControlName="password"
        />
        <div class="options">
            <a>forgot?</a>
            <button (click)="login()">login</button>
            <a>new account</a>
        </div>
    </form>
</div>