/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    background-image: url('./assets/background-bankan.png');
    color: #81E979;
    font-family: 'dec_terminal';
}

button {
    background: none;
    color: #81E979;
    border: 3px solid #81E979;
    cursor: pointer;
    font-family: 'dec_terminal';
    font-size: 18px;
    font-weight: 100;
}

button:disabled {
    cursor: default;
    color: #7ea277;
    border: 3px solid #7ea277;
}


input {
    background: none;
    color: #81E979;
    font-size: 22px;
    border: 3px solid #81E979;
    padding-left: 8px;
    font-family: 'dec_terminal';
}

input::placeholder {
    color: #80e9797e;
}

textarea {
    background: none;
    color: #81E979;
    font-size: 22px;
    border: 3px solid #81E979;
    padding-left: 8px;
    font-family: 'dec_terminal';
}

textarea::placeholder {
    color: #80e9797e;
}

*:focus {
    outline: none;
}