h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}

.underscore {
    background-color: #81E979;
    display: inline-block;
    width: 25px;
    height: 12px;
    animation-name: blinking_effect;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinking_effect {
    from { opacity: 0; }
    to { opacity: 1; }
}